// ******************* VARIABLES ******************

// Colors

$midnight: #131722;
$coal: #141418;
$cream: #FFFBF9;
$sand: #B2ABA2;
$cappucino: #7F4620;
$beige: #F1CBA9;

// Font families

$poppins: "Poppins", sans-serif;
$playfair: "Playfair Display", serif;