// ******************* VARIABLES ******************

// Colors

$theme-dark: (
    color-scheme: dark light,
    bg: hsl(227, 28, 11),
    text: hsl(21, 100, 99),
    primary-btn-bg: hsl(21, 100, 99),
    primary-btn-bg-hover: hsl(34, 56, 29),
    primary-btn-text: hsl(235, 10, 9),
    primary-btn-text-hover: hsl(21, 100, 99),
    secondary-btn-text: hsl(21, 100, 99),
    secondary-btn-border: hsl(21, 100, 99),
    secondary-btn-bg-hover: hsl(21, 100, 99),
    secondary-btn-text-hover: hsl(235, 10, 9),
    delete-btn-bg: hsl(340, 100, 35),
    delete-btn-bg-hover: hsl(349, 100%, 25%),
    delete-btn-text: hsl(21, 100, 99),
    newsletter-input-bg: hsl(21, 100, 99),
    newsletter-input-border: hsl(21, 100, 99),
    newsletter-input-text: hsl(227, 28, 11),
    category-title: hsl(21, 100, 99),
    categories: hsl(34, 56, 29),
    info: hsl(21, 100, 99),
    info-bg-danger: hsl(340, 100, 35),
    info-bg-success: hsl(166, 100, 18),
    info-bg-info: hsl(195, 100, 23),
    info-bg-warning: hsl(320, 100, 31),
    constraint: hsl(29, 72, 80),
    link: hsl(29, 72, 80),
    menu-bg-opacity: 1,
    dropdown-icon-select: url("./../../images/dropdown_icon_open.svg") no-repeat right
        1rem center,
);

$theme-light: (
    color-scheme: light dark,
    bg: hsl(21, 100, 99),
    text: hsl(227, 28, 11),
    primary-btn-bg: hsl(227, 28, 11),
    primary-btn-bg-hover: hsl(34, 56, 29),
    primary-btn-text: hsl(21, 100, 99),
    primary-btn-text-hover: hsl(21, 100, 99),
    secondary-btn-text: hsl(227, 28, 11),
    secondary-btn-border: hsl(227, 28, 11),
    secondary-btn-bg-hover: hsl(227, 28, 11),
    secondary-btn-text-hover: hsl(21, 100, 99),
    delete-btn-bg: hsl(340, 100, 35),
    delete-btn-bg-hover: hsl(349, 100%, 25%),
    delete-btn-text: hsl(21, 100, 99),
    newsletter-input-bg: hsl(21, 100, 99),
    newsletter-input-border: hsl(227, 28, 11),
    newsletter-input-text: hsl(227, 28, 11),
    category-title: hsl(21, 100, 99),
    categories: hsl(34, 56, 29),
    info: hsl(21, 100, 99),
    info-bg-danger: hsl(340, 100, 35),
    info-bg-success: hsl(166, 100, 18),
    info-bg-info: hsl(195, 100, 23),
    info-bg-warning: hsl(320, 100, 31),
    constraint: hsl(340, 100, 35),
    link: hsl(34, 56, 29),
    menu-bg-opacity: 0.15,
    dropdown-icon-select: url("./../../images/dropdown_icon_open_dark.svg") no-repeat right
        1rem center,
);

@function css-var($name) {
    @return unquote("var(--#{$name})");
}

// Creates a map that gets the color value of a key
@mixin export-css-vars($theme-map) {
    color-scheme: map-get($theme-map, color-scheme);

    @each $key, $val in $theme-map {
        @if $key != color-scheme {
            --#{$key}: #{$val};
        }
    }
}

// Mixin to apply on style to get the right color according to the choosen theme
@mixin apply-theme($selector, $theme-map) {
    #{$selector} {
        @include export-css-vars($theme-map);
    }
}

// Font families

$poppins: "Poppins", sans-serif;
$playfair: "Playfair Display", serif;
