<form method="post" action="{{ path('app_property_category_delete', {'id': property_category.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property_category.id) }}">
    <button class="button button__delete" data-category-id="{{ property_category.id }}">{{ 'deleteBtn'|trans }}</button>
</form>
