<form method="post" action="{{ path('app_property_delete', {'id': property.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
    <button type="button" class="button button__delete full-w" data-property-id="{{ property.id }}">{{ 'deleteBtn'|trans }}</button>
</form>
