// ************** IMPORT STYLES **************

@use '../abstracts' as *;


// **************** TYPOGRAPHY ****************

// This section uses the mixins presets from the folder abstracts/mixins.scss

// ----- GENERAL -----

h1, h2, h3, h4, h5, p, span, a, label {
    color: css-var(text);
    font-family: $poppins;
}

a {
    transition: all 0.2s linear;

    &:hover {
        color: css-var(link);
    }
}

// ----- TEXT MODIFICATIONS -----

.line-jump {
    display: block; // allows the text to go back to the line
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


// ----- TITLES -----
// Here is the hierarchy design of the titles; 
// to apply modifications, go to the file base\mixins

.title__primary {
    @include text-preset(title);
    @include text-preset(title__primary);
}

.title__secondary {
    @include text-preset(title);
    @include text-preset(title__secondary);
}

.title__tertiary {
    @include text-preset(title);
    @include text-preset(title__tertiary);
}

.title__fourth {
    @include text-preset(title);
    @include text-preset(title__fourth);
}

.section__intro {
    @include text-preset(title);
    @include text-preset(section__intro);
}

.error__page {
    @include text-preset(title);
    @include text-preset(error__page);
}

.title__city {
    @include text-preset(title);
    @include text-preset(title__city);
}

.title__specs {
    @include text-preset(title);
    @include text-preset(title__specs);
}

.card__price {
    @include text-preset(title);
    @include text-preset(card__price);
}

.panel__titles {
    @include text-preset(paragraph);
    @include text-preset(panel__titles);
}

.accent {
    @include text-preset(accent); // Sets the text in italic
}

.accent__number {
    @include text-preset(title);
    @include text-preset(accent__number); // Sets the text in italic
}

// ----- PARAGRAPHS & OTHER TEXTS -----
// Here is the hierarchy design of the texts; 
// to apply modifications, go to the file base\mixins

p {
    @include text-preset(paragraph);
}

.paragraph__small {
    @include text-preset(paragraph);
    @include text-preset(paragraph__small);
}

.paragraph__xsmall {
    @include text-preset(paragraph);
    @include text-preset(paragraph__xsmall);
}

.paragraph__xsmall__bold {
    @include text-preset(paragraph);
    @include text-preset(paragraph__xsmall__bold);
}

.link__menu {
    @include text-preset(paragraph);
    @include text-preset(link__menu);
}

.link__xsmall {
    @include text-preset(paragraph);
    @include text-preset(paragraph__xsmall);
    @include text-preset(link__small);
}

.f-links {
    @include text-preset(footer__links);
}

.legal__mentions {
    @include text-preset(legal__mentions);
}
