// ************** IMPORT STYLES **************

@use "../abstracts" as *;

// ******* REUSABLE BUTTONS COMPONENTS *******

// This section uses the mixins presets from the folder abstracts/mixins.scss

.button__primary {
    @include button-preset(button);
    @include button-preset(button__primary);

    &:hover {
        @include button-hover-preset(button__primary);
    }

    .logout {
        width: auto;
    }
}

.button__primary__opposite {
    @include button-preset(button);
    @include button-preset(button__primary__opposite);

    &:hover {
        @include button-hover-preset(button__primary);
    }
}

.button__secondary {
    @include button-preset(button);
    @include button-preset(button__secondary);

    &:hover {
        @include button-hover-preset(button__secondary);
    }
}

.button__delete {
    @include button-preset(button);
    @include button-preset(button__delete);

    &:hover {
        @include button-hover-preset(button__delete);
    }
}

.button__delete--icon {
    @include button-preset(button);
    width: 2.5rem;

    svg {
        @include button-preset(button__delete__icon);

        &:hover {
            @include button-hover-preset(button__delete__icon);
        }
    }
}

// INPUT TYPE FILE

.admin-pages__container {
    .image-file {
        @include flex-preset(row, center, space-between);
        width: 100%;
    }
}

.image-file {

    input[type="file"] {
        color: css-var(text);
        padding: 8px;
        width: 100%;
    }

    .button__delete--icon {
        width: auto;
    }
}

.admin-pages__container {
    input[type="file"]::file-selector-button {
        @include button-preset(button);
        @include button-preset(button__secondary);
        margin-right: 2rem;

        &:hover {
            @include button-hover-preset(button__secondary);
        }
    }
}

// Specific to favorite buttons

.button__favorite {
    @include button-preset(button__favorite);
}

.favorite-none,
.favorite-done {
    height: 2.5rem;
    display: none;
}

.favorite-none {
    fill: css-var(bg);
}

.favorite-done {
    fill: css-var(favorite);
}

.favorite-toggle {
    display: block;
}

// ************* ONY ONE USE BUTTONS **************

// MAIN NAV HAMBURGER MENU

.button__hamburger {
    background-color: transparent;
    color: css-var(text);
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        color: css-var(link);
    }
}

.button__hamburger--close {
    position: absolute;
    top: 4rem;
    right: 3.1rem;
}

// SWITCH THEMES BUTTONS

.button__switch {
    background-color: css-var(text);
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    left: 3rem;
    bottom: 7rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;

    .button__switch svg {
        width: 2.3rem;
        height: 2.3rem;
        transform-origin: center;
        transform-box: fill-box;
    }
}

.button__switch--light svg {
    path {
        fill: css-var(bg);
    }
}

.button__switch--dark svg {
    path {
        stroke: css-var(bg);
    }
}

.button__switch:hover {
    transform: scale(1.2);
}

.is-hidden {
    display: none;
}
