// ************** IMPORT STYLES **************

@use "../abstracts" as *;

// ***************** FORMS *******************

// GENERAL FORMS

.form {
    @include flex-preset(column, center, center);
    gap: 2rem;
    width: 100%;

    label {
        @include text-preset(paragraph);
        @include text-preset(paragraph__small);
        align-self: flex-start;
    }

    div {
        @include flex-preset(column, flex-start, center);
        gap: 0.5rem;
        width: 100%;

        label {
            @include text-preset(paragraph);
            @include text-preset(paragraph__small);
        }
    }

    .flex-responsive {
        margin-top: 2rem;
        gap: 1rem;

        @include media(768px) {
            @include flex-preset(row, center, center);

            button:first-child {
                border-radius: 2rem 0 2rem 0;
            }

            button:last-child {
                border-radius: 0 2rem 0 2rem;
            }
        }
    }
}

.form__text {
    @include flex-preset(column, center, center);
    gap: 3.7rem;
}

.form__choices {
    @include flex-preset(column, flex-start, center);
    gap: 0.5rem;
    width: 100%;

    div {
        @include flex-preset(column, flex-start, center);
        gap: 0.5rem;
        width: 100%;

        label {
            @include text-preset(paragraph);
            @include text-preset(paragraph__small);
        }
    }

    .agree-terms {
        @include flex-preset(row, center, flex-start);
        gap: 0.5rem;
    }
}

.form__input {
    width: 100%;
    min-height: 4rem;
    padding: 1.3rem;
    border-radius: 0 2rem 0 0;
    background-color: transparent;
    border: 0.1rem solid css-var(text);
    color: css-var(text);
    font-family: $poppins;
    font-size: 1.3rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    background: css-var(dropdown-icon-select);
    background-size: 1rem;

    option {
        background-color: css-var(bg);
        color: css-var(text);
    }
}

.form .form__options {
    @include flex-preset(row, center, center);
    gap: 0.5rem;
}

.form .form__agree {
    @include flex-preset(row, center, flex-start);
    gap: 0.5rem;
}

input[type="checkbox" i] {
    background-color: white;
}

// CONSTRAINTS STYLE & COLOR

// ------ Login -------

.form__info {
    color: css-var(info);
    @include text-preset(paragraph);
    align-items: center !important;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: -5rem;
    border-radius: 0 2rem 0 2rem;
}

.info-bg-danger {
    background-color: css-var(info-bg-danger);
}

.info-bg-success {
    background-color: css-var(info-bg-success);
}

.info-bg-info {
    background-color: css-var(info-bg-info);
}

.info-bg-warning {
    background-color: css-var(info-bg-warning);
}

// ------ Other forms -------

.form__constraint {
    color: css-var(constraint);
    @include text-preset(paragraph);
    @include text-preset(paragraph__small);
    font-weight: 600;
    width: 100%;
    height: auto;
    border-radius: 0 2rem 0 2rem;
    margin: 0;
}

// NEWSLETTER FORM

.form__news--input {
    width: 100%;
    height: 4rem;
    padding: 1.3rem;
    border-radius: 0 2rem 0 0;
    background-color: css-var(newsletter-input-bg);
    border: 0.1rem solid css-var(newsletter-input-border);
    color: css-var(newsletter-input-text);
    font-family: $poppins;
    font-size: 1.3rem;
}

// LOGIN & REGISTER FORM

.auth__form {
    max-width: 40rem;
}

// ADD A NEW PROPERTY PAGE

.new__property {
    h2 {
        color: css-var(category-title);
        text-align: center;
        padding: 1rem;
        background: css-var(categories);
        border-radius: 0 2rem 0 2rem;
        width: 100%;
    }
}
