// ************** IMPORT STYLES **************

@use "./abstracts" as *;
@use "./components" as *;
@use "base" as *;

// ****************** THEMES *****************

@include apply-theme(":root", $theme-dark);
@include apply-theme('[data-theme="light"]', $theme-light);

// ******************* MAIN ******************

// HOMEPAGE : SHARED FLEXBOX

.hero,
.hero__content,
.intro__content, .error__find {
    @include flex-preset(column, center, center);
}

// HOMEPAGE : HERO SECTION

.hero__content {
    min-height: 86vh;
    max-width: 29rem;
    gap: 3.5rem;

    @include media(768px) {
        max-width: 60rem;
    }

    a {
        width: 100%;

        @include media(768px) {
            max-width: 29rem;
        }
    }
}

.hero__bg {
    &::before {
        content: "";
        opacity: 0.4;
        z-index: -1;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("./../images/hero_background_villa.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

// HOMEPAGE : INTRO SECTION

.intro {
    @include flex-preset(column, center, flex-start);
    gap: 4.1rem;

    @include media(768px) {
        @include flex-preset(row, center, flex-start);
        max-width: 95.5rem;
    }
}

.intro__image {
    height: 41.6rem;
    width: 100%;

    @include media(768px) {
        order: 2;
        height: 60rem;
        max-width: 41rem;
    }

    img {
        object-fit: cover;
        object-position: center;
        height: inherit;
        width: inherit;
    }
}

// ADMIN PAGE

.admin {
    @include flex-preset(column, center, center);
    width: 100%;
}

.admin__aside {
    width: 100%;
    margin-top: 6rem;

    @include media(768px) {
        width: 35rem;
        margin-top: 9rem;
    }
}

// CATEGORIES PAGE

.categories {
    @include flex-preset(column, center, center);
    width: 100%;
    max-width: 60rem;
    gap: 2rem;

    .categories__item {
        @include flex-preset(row, center, space-between);
        width: 100%;
    }
}

.categories__buttons {
    @include flex-preset(row, center, center);
    gap: 1rem;

    a,
    button {
        width: auto;
    }

    a {
        border-radius: 2rem 0 2rem 0;
    }

    button {
        border-radius: 0 2rem 0 2rem;
    }
}

// INDIVIDUAL PROPERTY PAGE

.property {
    padding-bottom: 6rem;
    @include flex-preset(column, center, center);

    @include media(768px) {
        padding-bottom: 9rem;
    }
}

.property__hero {
    @include flex-preset(column, center, center);
    min-height: 86vh;
}

.property__hero--bg {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    &::after {
        content: "";
        background-color: css-var(bg);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.8;
    }
}

.property__hero--content {
    @include flex-preset(column, center, center);
    gap: 3.5rem;
    text-align: center;
    width: 100%;
    max-width: 60rem;
}

.hero__features {
    @include flex-preset(column, flex-start, center);
    gap: 1.5rem;

    @include media(768px) {
        @include flex-preset(row, center, center);
    }

    .hero__features--items {
        @include flex-preset(row, center, center);
        gap: 1.5rem;
    }
}

.hero__features--items {
    svg {
        path {
            fill: css-var(text);
        }
    }
}

.property__description {
    @include flex-preset(column, flex-start, center);
    gap: 4.1rem;
}

.property__specs {
    @include flex-preset(column, center, center);
    width: 100%;

    @include media(768px) {
        max-width: 60rem;
    }

    h3 {
        color: css-var(bg);
        width: 100%;
        display: block;
        background-color: css-var(text);
        border-radius: 0 2rem 0 0;
        padding: 2rem 0;
        text-align: center;
    }
}

.specs {
    border-radius: 0 0 0 2rem;
    border: 0.1rem solid css-var(text);
    overflow: hidden;
    padding: 2rem;
    width: 100%;
}

.specs__items {
    @include flex-preset(row, center, space-between);
    padding: 2rem 0;
    width: 100%;
    border-bottom: 0.1rem solid css-var(text);
}

.specs__items:first-child {
    padding: 0 0 2rem;
}

.specs__items:last-child {
    padding: 2rem 0 0;
    border-bottom: none;
}

.property__map {
    margin: 6rem 0;
    width: 100%;

    @include media(768px) {
        margin: 9rem 0;
    }

    iframe {
        width: 100%;
        height: 40rem;
    }
}

// PAGE INDEX OF PROPERTIES

.properties__container {
    @include flex-preset(column, center, center);
    gap: 2.5rem;

    @include media(768px) {
        @include flex-preset(row, center, center);
    }
}

.properties__specs {
    @include flex-preset(column, flex-start, center);
    gap: 1.5rem;
    padding: 2.5rem;
    width: 100%;
    border: 0.1rem solid css-var(text);
    border-radius: 0 2rem 0 2rem;

    @include media(768px) {
        max-width: 50rem;
    }
}

.properties__image {
    height: 14rem;
    width: inherit;
    border-radius: 0 1rem 0 0;
    overflow: hidden;

    img {
        width: inherit;
        object-fit: cover;
        object-position: center;
    }
}

.properties__content {
    @include flex-preset(column, flex-start, center);
    width: 100%;
    gap: 0.2rem;

    .content {
        @include flex-preset(row, center, flex-start);
        gap: 0.5rem;
    }
}

.properties__buttons {
    @include flex-preset(column, center, center);
    gap: 1.2rem;
    width: 100%;

    div {
        @include flex-preset(column, center, center);
        gap: 1rem;
        width: 100%;

        @include media(768px) {
            @include flex-preset(row, center, center);

            a:first-child {
                border-radius: 2rem 0 2rem 0;
            }

            a:last-child {
                border-radius: 0 2rem 0 2rem;
            }
        }
    }
}

.properties__controls {
    @include flex-preset(column, center, center);
    gap: 1.5rem;
    width: 100%;

    @include media(768px) {
        @include flex-preset(row, center, center);

        a {
            max-width: 30rem;
        }

        a:first-child {
            border-radius: 2rem 0 2rem 0;
        }

        a:last-child {
            border-radius: 0 2rem 0 2rem;
        }
    }
}

// PAGE 404

.error__find {
    gap: 4rem;
}
