<div class="error__find">
	<h2 class="title error__page">404</h2>
	<h3 class="paragraph__small">{{ 'errorPage.message'|trans }}</h3>
	<a href="{{ path('app_home') }}" class="button button__primary">{{ 'errorPage.button'|trans }}</a>
</div>
