{% set route = app.request.attributes.get('_route') %}
{% set params = app.request.attributes.get('_route_params')|default({}) %}

<div class="languages__mobile">
	{% if params['_locale'] == 'fr' %}
		<a href="{{ path(route, params|merge({'_locale': 'en'})) }}" class="paragraph legal__mentions">
			<svg class="languages__flags" viewbox="0 0 180 120">
				<defs>
					<clipPath id="flagWaveUKMobile">
						<path d="M 5,10C 65,14 115,6 175,12L 175,112C 115,106 65,114 5,110Z"/>
					</clipPath>
				</defs>
				<rect width="180" height="120" fill="#012169" clip-path="url(#flagWaveUK)"/>
				<polygon points="0,0 20,0 180,100 180,120 160,120 0,20" fill="#FFFFFF" clip-path="url(#flagWaveUK)"/>
				<polygon points="180,0 160,0 0,100 0,120 20,120 180,20" fill="#FFFFFF" clip-path="url(#flagWaveUK)"/>
				<polygon points="0,0 10,0 180,110 180,120 170,120 0,10" fill="#C8102E" clip-path="url(#flagWaveUK)"/>
				<polygon points="180,0 170,0 0,110 0,120 10,120 180,10" fill="#C8102E" clip-path="url(#flagWaveUK)"/>
				<rect x="75" y="0" width="30" height="120" fill="#FFFFFF" clip-path="url(#flagWaveUK)"/>
				<rect x="0" y="45" width="180" height="30" fill="#FFFFFF" clip-path="url(#flagWaveUK)"/>
				<rect x="82" y="0" width="16" height="120" fill="#C8102E" clip-path="url(#flagWaveUK)"/>
				<rect x="0" y="52" width="180" height="16" fill="#C8102E" clip-path="url(#flagWaveUK)"/>
			</svg>
		</a>
	{% elseif params['_locale'] == 'en' %}
		<a href="{{ path(route, params|merge({'_locale': 'fr'})) }}" class="paragraph legal__mentions">
			<svg class="languages__flags" viewbox="0 0 180 120">
				<defs>
					<clipPath id="flagWaveMobile">
						<path d="M 5,12C 65,6 115,14 175,10L 175,110C 115,114 65,106 5,112Z"/>
					</clipPath>
				</defs>
				<g clip-path="url(#flagWave)">
					<rect x="0" y="0" width="60" height="120" fill="#0055A4"/>
					<rect x="60" y="0" width="60" height="120" fill="#FFFFFF"/>
					<rect x="120" y="0" width="60" height="120" fill="#EF4135"/>
				</g>
			</svg>
		</a>
	{% endif %}
</div>